@gray: #e0e0e0;
@red: #94272c;
@inactive: #585858; 

@bigFont: 125%;

.top,.bottom {
	background-color: @gray;
}

.top{
	margin-bottom: 20px;
}

.bottom {
	padding: 15px 0 15px 0;
}

.menu-block{
	display: inline-block;
	padding: 50px 10px 10px 10px;

	.logo-block{
		.logo {
			padding-left: 0;
			display: inline-block;
			a img{
				width: 100%;
				height: 100%;
			}
		}

		.slogan {
			display: inline-block;
			font-size: @bigFont;
		}

	}
	
	.menu {
		padding-left: 20px;
		display: inline-block;
		background-color: #f0f0f0;
		width: 100%;
		p {
			margin: 0;
			padding: 0;
		}
	}

}

.flowers img{
	width: 110%;
	height: 100%;
	margin-top: -21%;
}

.inactive {
	color: @inactive;
	font-weight: inherit;
}

.active {
	color: @red;
	font-weight: inherit;
}

.main {
	background-color: #fff;
}

.article {
	padding: 30px 10px 0px 0px;

	.article-left-panel{
		width: 5px;
		display: inline-block;
		margin-right: 25px;
	}

	.article-title-block {
		.article-label {
			background-color: #94272c;
			width: 5px;
			height: 35px;
			display: inline-block;
		}

		.article-title {
			display: inline-block;
			font-size: 16px;
		}
	}

	.article-body {
		padding-top: 10px;
		.article-content{
			display: inline-block;
			width: 90%;
		}
	}

	.article-bottom-line{
		border-bottom: solid #e0e0e0 1px;
		margin-top: 25px;
	}

	.article-bottom-line-transparent{
		margin-top: 25px;
	}
}

.introduction {
	.content {
		padding: 35px 85px 25px 75px;
		margin-bottom: 25px;
		border: black solid 1px;
		font-size: 111%;
	}
}

.index-column1, .index-column2 {
	padding: 0;
}

.index-column1 {
	padding-right: 10px;
	index-news-list {

	}
}
.index-column2 {
	padding-left: 15px;
}

.block {
	.block-title {
		background-color: @gray;
		padding: 5px 0 5px 35px;
		span {
			font-size: @bigFont;
		}
		.view-more {
			float: right;
			font-size: 80%;
			margin: 3px 10px 3px 0;
		}
	}

	.block-content {
		margin-top: 10px;
		padding: 0 5px 0 5px;
	}
}

.case {
	.case-title {
		background-color: @gray;
		margin-right: 35px;
		padding: 12px 0 5px 25px;
	}

	margin-bottom: 20px;
}