@gray: #e0e0e0;
@red: #94272c;
@inactive: #585858; 

@bigFont: 125%;

.top,.bottom {
	background-color: @gray;
}

.top{
	margin-bottom: 15px;
}

.bottom {
	padding: 15px 0 15px 0;
	margin-top: 50px;
}

.menu-block{
	display: inline-block;
	padding: 50px 10px 10px 10px;
	z-index: 10;

	.logo-block{
		.logo {
			padding-left: 15px;
			padding-bottom: 20px;
			display: inline-block;
			a img{
				width: 100%;
				height: 100%;
			}
		}

		.slogan {
			display: inline-block;
			font-size: @bigFont;
		}

	}
	
	.menu {
		padding-left: 15px;
		display: inline-block;
		background-color: #f0f0f0;
		width: 100%;
		p {
			margin: 0;
			padding: 0;
			strong {font-size: 111%;}
		}
	}
}

.flowers img {
	margin-top: -19%;
	z-index: -10;
}

.inactive {
	color: @inactive;
	font-weight: bold;
}

.active {
	color: @red;
	font-weight: bolder;
}

.main {
	background-color: #fff;
}

.introduce {
	font-size: 111%;
	padding: 25px;
}

.article {
	padding: 10px 10px 10px 0px;

	.article-left-panel{
		width: 5px;
		display: inline-block;
		margin-right: 25px;
	}

	.article-title-block {
		.article-label {
			background-color: #94272c;
			width: 5px;
			height: 35px;
			display: inline-block;
		}

		.article-title {
			display: inline-block;
			width: 90%;
			font-size: 16px;
		}
	}

	.article-body {
		padding-top: 10px;
		.article-content{
			display: inline-block;
			width: 90%;
			img {
				margin-right: 15px;
			}
		}
	}

	.article-bottom-line{
		border-bottom: solid #e0e0e0 1px;
		margin-top: 15px;
	}

	.article-bottom-line-transparent{
		margin-top: 15px;
	}
}

.column1, .column2 {
	padding: 0;
}

.column2 {
	padding-left: 15px;
}

.index-get-involved {
	img {
		width: 64px;
		padding-left: 20px;

		  -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
	}
}


.article {
	.thumbnail {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

.case {
	.thumbnail {
		margin-right: 5px;
		margin-bottom: 5px;
	}
	
	.panel-body {
		padding-left: 20px;
		padding-right: 20px;
	}
}
