include ../includes/_functions
+page('laws_and_conventions')
	+article('中华人民共和国农民专业合作社法（节选）',
		'Law of the People’s Republic of China on Specialized Farmers Cooperatives (excerpt)', true)
		p 农民专业合作社是在农村家庭承包经营基础上，同类农产品的生产经营者或者同类农业生产经营服务的提供者、利用者，自愿联合、民主管理的互助性经济组织。
		p 农民专业合作社以其成员为主要服务对象，提供农业生产资料的购买，农产品的销售、加工、运输、贮藏以及与农业生产经营有关的技术、信息等服务。
		p 农民专业合作社应当遵循下列原则：
		p （一）成员以农民为主体；
		p （二）以服务成员为宗旨，谋求全体成员的共同利益；
		p （三）入社自愿、退社自由；
		p （四）成员地位平等，实行民主管理；
		p （五）盈余主要按照成员与农民专业合作社的交易量（额）比例返还。
		p 农民专业合作社依照本法登记，取得法人资格。
		p 农民专业合作社对由成员出资、公积金、国家财政直接补助、他人捐赠以及合法取得的其他资产所形成的财产，享有占有、使用和处分的权利，并以上述财产对债务承担责任。
		p 农民专业合作社成员以其账户内记载的出资额和公积金份额为限对农民专业合作社承担责任。
		p 具有民事行为能力的公民，以及从事与农民专业合作社业务直接有关的生产经营活动的企业、事业单位或者社会团体，能够利用农民专业合作社提供的服务，承认并遵守农民专业合作社章程，履行章程规定的入社手续的，可以成为农民专业合作社的成员。但是，具有管理公共事务职能的单位不得加入农民专业合作社。
		p 农民专业合作社的成员中，农民至少应当占成员总数的百分之八十。
		p 成员总数二十人以下的，可以有一个企业、事业单位或者社会团体成员；成员总数超过二十人的，企业、事业单位和社会团体成员不得超过成员总数的百分之五。
		p 国家支持发展农业和农村经济的建设项目，可以委托和安排有条件的有关农民专业合作社实施。
		p 中央和地方财政应当分别安排资金，支持农民专业合作社开展信息、培训、农产品质量标准与认证、农业生产基础设施建设、市场营销和技术推广等服务。对民族地区、边远地区和贫困地区的农民专业合作社和生产国家与社会急需的重要农产品的农民专业合作社给予优先扶持。
		p 国家政策性金融机构应当采取多种形式，为农民专业合作社提供多渠道的资金支持。具体支持政策由国务院规定。
		p 国家鼓励商业性金融机构采取多种形式，为农民专业合作社提供金融服务。
		p 农民专业合作社享受国家规定的对农业生产、加工、流通、服务和其他涉农经济活动相应的税收优惠。
		p 支持农民专业合作社发展的其他税收优惠政策，由国务院规定。
		p 侵占、挪用、截留、私分或者以其他方式侵犯农民专业合作社及其成员的合法财产，非法干预农民专业合作社及其成员的生产经营活动，向农民专业合作社及其成员摊派，强迫农民专业合作社及其成员接受有偿服务，造成农民专业合作社经济损失的，依法追究法律责任。
		p &nbsp;
		p This Law is enacted for the purpose of supporting and guiding the development of specialized farmers cooperatives, regulating their organization and behavior and protecting their lawful rights and interests and those of their members', and promoting the development of agriculture and of the economy of rural areas.
		p Specialized farmers cooperatives are mutual-help economic organizations joined voluntarily and managed in a democratic manner by the producers and operators of the same kind of farm products or by the providers or users of services for the same kind of agricultural production and operation.
		p Specialized farmers cooperatives mainly serve their members, offering such services as purchasing the means of agricultural production, marketing, processing, transporting and storing farm products, and providing technologies and information related to agricultural production and operation.
