include ../includes/functions
+page('laws_and_conventions')
	+article('世界文化多样性宣言（节选）',
		'UNESCO Universal Declaration on Cultural Diversity (excerpt) ',true)
		p 文化多样性-人类的共同遗产
		p 文化在不同的时代和不同的地方具有各种不同的表现形式。这种多样性的具体表现是构成人类的各群体和各社会的特性所具有的独特性和多样化。文化多样性是交流、革新和创作的源泉，对人类来讲就象生物多样性对维持生物平衡那样必不可少。从这个意义上讲，文化多样性是人类的共同遗产，应当从当代人和子孙后代的利益考虑予以承认和肯定。
		p 从文化多样性到文化多元化
		p 在日益走向多样化的当今社会中必须确保属于多元的、不同的和发展的文化特性的个人和群体的和睦关系和共处。主张所有公民的融入和参与的政策是增强社会凝聚力、民间社会活力及维护和平的可靠保障。因此，这种文化多元化是与文化多样性这—客观现实相应的一套政策。文化多元化与民主制度密不可分，它有利于文化交流和能够充实公众生活的创作能力的发挥。
		p 文化多样性-发展的因素
		p 文化多样性增加了每个人的选择机会；它是发展的源泉之一，它不仅是促进经济增长的因素，而且还是享有令人满意的智力、情感、道德精神生活的手段。
		p 人权-文化多样性的保障
		p 捍卫文化多样性是伦理方面的迫切需要，与尊重人的尊严是密不可分的，它要求人们必须尊重人权和基本自由，特别是尊重少数人群体和土著人民的各种权利。任何人不得以文化多样性为由，损害受国际法保护的人权或限制其范围。
		p 文化权利-文化多样性的有利条件
		p 文化权利是人权的一个组成部分，它们是一致的、不可分割的和相互依存的。富有创造力的多样性的发展，要求充分地实现《世界人权宣言》第27条和《经济、社会、文化权利国际公约》第13条和第15条所规定的文化权利。因此，每个人都应当能够用其选择的语言，特别是用自己的母语来表达自己的思想，进行创作和传播自己的作品；每个人都有权接受充分尊重其文化特性的优质教育和培训；每个人都应当能够参加其选择的文化生活和从事自己所特有的文化活动，但必须在尊重人权和基本自由的范围内。
		p 促进面向所有人的文化多样性
		p 在保障思想通过文字和图象的自由交流的同时，务必使所有的文化都能表现自己和宣传自己，言论自由，传媒的多元化，语言多元化，平等享有各种艺术表现形式，科学和技术知识-包括数码知识-以及所有文化都有利用表达和传播手段的机会等，均是文化多样性的可靠保证。
		p 文化遗产-创作的源泉
		p 每项创作都来源于有关的文化传统，但也在同其他文化传统的交流中得到充分的发展。因此，各种形式的文化遗产都应当作为人类的经历和期望的见证得到保护、开发利用和代代相传，以支持各种创作和建立各种文化之间的真正对话。
		p 文化物品和文化服务-不同一般的商品
		p 面对目前为创作和革新开辟了广阔前景的经济和技术的发展变化，应当特别注意创作意愿的多样性，公正地考虑作者和艺术家的权利，以及文化物品和文化服务的特殊性，因为它们体现的是特性、价值观和观念，不应被视为一般的商品或消费品。
		p 文化政策-推动创作的积极因素
		p 文化政策应当在确保思想和作品的自由交流的情况下，利用那些有能力在地方和世界一级发挥其作用的文化产业，创造有利于生产和传播文化物品和文化服务的条件。每个国家都应在遵守其国际义务的前提下，制订本国的文化政策，并采取其认为最为合适的行动方法，即不管是在行动上给予支持还是制订必要的规章制度，来实施这一政策。
		p 增强世界范围的创作和传播能力
		p 面对目前世界上文化物品的流通和交换所存在的失衡现象，必须加强国际合作和国际团结，使所有国家，尤其是发展中国家和转型期国家能够开办—些有活力、在本国和国际上都具有竞争力的文化产业。
		p 建立政府，私营部门和民间社会之间的合作伙伴关系
		p 单靠市场的作用是作不到保护和促进文化多样性这一可持续发展之保证的。为此，必须重申政府在私营部门和民间社会的合作下推行有关政策所具有的首要作用。
		p &nbsp;
		p Cultural diversity: the common heritage of humanity—Culture takes diverse forms across time and space. This diversity is embodied in the uniqueness and plurality of the identities of the groups and societies making up humankind. As a source of exchange, innovation and creativity, cultural diversity is as necessary for humankind as biodiversity is for nature. In this sense, it is the common heritage of humanity and should be recognized and affirmed for the benefit of present and future generations.
		p From cultural diversity to cultural pluralism—In our increasingly diverse societies, it is essential to ensure harmonious interaction among people and groups with plural, varied and dynamic cultural identities as well as their willingness to live together. Policies for the inclusion and participation of all citizens are guarantees of social cohesion, the vitality of civil society and peace. Thus defined, cultural pluralism gives policy expression to the reality of cultural diversity. Indissociable from a democratic framework, cultural pluralism is conducive to cultural exchange and to the flourishing of creative capacities that sustain public life.
		p Cultural diversity as a factor in development—Cultural diversity widens the range of options open to everyone; it is one of the roots of development, understood not simply in terms of economic growth, but also as a means to achieve a more satisfactory intellectual, emotional, moral and spiritual existence. Cultural diversity and human rights.
