+news-item('2014-05-19', '马戎：我必须不断重申要反对大汉民族意识', 'news_140519_yishi')
+news-item('2014-06-01', '维汉大学生合伙网上卖切糕', 'news_140601_qiegao')
+news-item('2014-07-14', '葛剑雄：给少数民族一点好处不是民族平等', 'news_140714_gejianxiong')
+news-item('', '', '')
						