.row.top.text-center 
	.col-md-1
	.col-md-10.center-block
		.menu-block.col-md-8
			.logo-block
				.logo.col-md-5
					a(href='#')
						img(src='/images/mino-logo.png')
				.slogan.col-md-7.text-left 
					p 
						strong 文化是权利，是资源，是创造力；对少数民族而言，文化尤为如此。这里是少数民族文化发展合作平台，敬请参与。
					p.small Civil Society Empowerment in China: Guaranteeing and Developing Cultural Rights of Ethnic Minorities.
			.menu
				ul.nav.navbar-nav
					li
						a(href='#').active 
							p 首页
							p HOME
					li 
						a(href='#') 
							p 法律与公约 
							p LAWS &amp; CONVENTIONS
					li 
						a(href='#')
							p 案例与方法
							p CASE STUDY
					li 
						a(href='#')
							p 咨询与合作
							p GET INVOLVED
					li 
						a(href='#')
							p 关于我们
							p ABOUT US
					li 
						a(href='#')
							p 捐赠
							p DONATE

		.flowers.col-md-4
			img(src='/images/flowers.png')
