include includes/functions
+page('about_us')
	+article('项目背景', 'Background')
		p 弥诺，是
			+chp('北京文化遗产保护中心（CHP）')
			|发起设立的专项合作平台，旨在帮助公众参与保护和发展少数民族文化权益。
		p 帮助公众参与保护和发展少数民族文化权益，是CHP十余年来工作的重要领域。透过许多项目的努力探索，一些看似不可能实现的愿景已经在部分少数民族社区成为现实，然而，涉及的诸多问题依然严重存在。如何可持续地保护和发展少数民族文化权益？如何使公众便于并乐于参与保护和发展少数民族文化权益？这些是诸多问题中最具根本性的问题。为在较大程度上改变现状，CHP在此前工作的基础上发起设立了这个专项合作平台。为使平台开放包容、汇聚能力，平台建设和运营工作主要由志愿者承担。相关领域全球顶尖的专家们，也在默默地为平台服务。
		p &nbsp;
		p CHP-Mino is a specialized cooperative platform founded by 
			+chp('Beijing Cultural Heritage Protection Center (CHP)')
			|, with a mission to involve the public in the protection and development of the cultural rights of ethnic minorities. This has been an important focus of CHP in the past 10+ years. How do we sustainably protect and develop the cultural rights of ethnic minorities? How do we encourage the public to conveniently and willingly participate in this cause? CHP established this specialized cooperative platform based upon previous experiences.

	
	+article('工作团队', 'Our Team', true)
		ul
			li 何戍中 He Shuzhong（CHP项目总监, CHP Project Director）
			li 张培 Zhang Pei（CHP项目官员, CHP Project Officer）
			li 王延颂 Wang Yansong（秘书长、志愿者, Secretary General / Volunteer）
			li 刘峰（IT负责人 IT Director/ Volunteer）
			li 吴颖（公共关系、志愿者 Public Relationship/ Volunteer）
			li 魏晖浩（IT工程师、志愿者 IT Engineer/ Volunteer）
			li 刘俊捷（市场推广、志愿者 Marketing/ Volunteer）
			li 王孟（项目执行、志愿者 Project Execution/ Volunteer）
			li 李镇宇（志愿者 Volunteer）
			li 赵晓梅（志愿者 Volunteer）
			li 刘毅（志愿者 Volunteer）
			li Jiang Chelsea（志愿者 Volunteer）

		p 弥诺诚挚邀请朋友们加入这个工作团队！
		p 万若颖、姜韫泠等朋友也曾经为弥诺作出贡献，在此一并致谢！
