include includes/_functions
+page('donate')
	+article('捐赠者', 'Donator', true)
		ul
			li Norwegian Human Rights Fund
			li 埃森哲（中国）有限公司

	+article('捐赠方法', 'How To Donate', true)
		ul
			li 电话/TEL: (86-10) 6403-6532 
			li 邮件/Email: 
				+mail('chpminority@gmail.com', 'Donation')
			li 联系人/Contact 张女士/Ms. Zhang		
		p “无论您捐赠多少钱，我们都向您表示最诚挚的谢意；除非您明确表示反对，您的名字将出现在捐赠者栏目中；如果您明确提出需求，我们将寄送您正式的捐赠收据。”
		p We would like to express our most sincere gratitude regardless of the amount of your donation. 
		p You name will appear in our donors list unless you request otherwise. We can send you a formal donation receipt if requested.
