include includes/functions
+page('donate')
	+article('捐赠者', 'Donator', true)
		ul
			li Norwegian Human Rights Fund
			li 埃森哲（中国）有限公司

	+article('捐赠方法', 'HowTo', true)
		p 电话/TEL：(86-10) 6403-6532 张女士/Ms. Zhang		
		p.small 无论您捐赠多少钱，我们都向您表示最诚挚的谢意；除非您明确表示反对，您的名字将出现在捐赠者栏目中；如果您明确提出需求，我们将寄送您正式的捐赠收据。