include includes/functions
+page('get_involved')
	+article('合作事项', 'Collaborate')
		p CHP以往的工作，有许多经验和成果，也有许多教训和遗憾，我们希望能够与您分享，共同参与保护和发展少数民族文化权益。
		p 如果您是一位少数民族人士，热爱自己的民族，对民族文化的传承发展现状有所担忧，并愿意采取行动改变现状，请联系我们。我们将与您共同分析，发现解决问题的方法，找寻改变现状的具体步骤，联合各方人士，与您共同完成您的心愿。
		p 如果您是一位咨询师、律师、会计师、设计师、建筑师、工程师、编辑、记者、翻译、出版人、IT专家、艺术家、职业经理人、活动主持人、等等、等等，您愿意以您的一技之长为发展少数民族文化费心出力，请联系我们。我们将根据您的专长和兴趣点，提供您可能感兴趣的信息或是发力点。当然，我们也期盼您能够以志愿者的身份，加入我们的工作。
		p 如果您是一家专业机构，愿意在这个领域发挥专业机构的力量，那就太好了。我们期盼与您有深入交流。如果您对我们有所信任，那就一起设计项目实施项目吧。
		p 如果您是一家公益基金会，能够被CHP以往的工作有所触动，也认同弥诺，就请尽量支持弥诺。弥诺的财务总监由志愿者公推产生，能够确保弥诺财务的公开透明。
		p 如果您已经在这个领域开展工作，也请给我们一个讨教、交流的机会。大家彼此取长补短，能够把想做的事情做得更好。
		p CHP相信，任何机构，任何个人，只要您有志于保护和发展少数民族文化权益，或者对少数民族文化发展有所兴趣，就能够在弥诺平台上，发现机会，发挥作用，得到合作，实现价值。
		p &nbsp;
		p CHP Minority believes that, whether you are part of an organization or an individual, if you are interested in protecting and developing the cultural rights of ethnic minorities, or interested in their cultural development, you will be able to discover project opportunities, connect with collaborators, contribute and make a difference through the CHPMinority platform. If you are a member of an ethnic minority, please contact us. We will collaborate with you and outside parties to jointly analyze the issues, discover solutions, and plan out the steps to make the changes that will fulfill your wish.
		p If you are a consultant, lawyer, accountant, designer, architect, engineer, editor, reporter, translator, publisher, IT expert, artist, professional manager, MC, etc., please contact us. We will provide information and opportunities for you to contribute according to your interests and specialty. We also hope you can join us as a volunteer.
		p If you are a professional organization willing to exert force in this field, we hope to get in touch with you. We can design and conduct projects that benefit ethnic minorities.
		p If you are a charitable foundation, touched by previous works of CHP and supportive of our mission, please support us. The finance director of CHPMinor is selected by volunteers and can ensure the transparency of our finances.

	
	+article('联系方式', 'Contact Us')
		p 北京市东城区安定门内大街方家胡同46号E座309室（邮编：100007）
		p Room 309, Building No. E, No. 46 Fangjia Hutong, Andingmen nei Street, Dongcheng District, Beijing 100007.
		p 电话/TEL：(86-10) 6403-6532 张女士/Ms. Zhang
		p 邮箱/Email: 
			a(href='mailto:chpminority@gmail.com') chpminority@gmail.com

	+article('成为志愿者', 'Volunteer', true)
		p 请有意者发送简历至info@bjchp.org，并告知您可能感兴趣的工作内容和方法。请在邮件主题栏标注
			strong “CHPMinority”