include includes/_functions

mixin law(title_cn, tilte_en, link, isLast)
	.article
		.article-title-block.row
			.article-left-panel
				.article-label
			.article-title
				a(href='/#{link}.html#main')
					strong= title_cn
					.small= tilte_en
			if !isLast
				.article-bottom-line
			else
				.article-bottom-line-transparent

+page('laws_and_conventions')
	+law('中华人民共和国宪法（节选）',
		'The Constitution of the People’s Republic of China (excerpt)',
		'laws/law1')
	+law('中华人民共和国民族区域自治法（节选）',
		'Law of the People’s Republic of China on Regional National Autonomy (excerpt)',
		'laws/law2')
	+law('中华人民共和国农民专业合作社法（节选）',
		'Law of the People’s Republic of China on Specialized Farmers Cooperatives (excerpt)',
		'laws/law3')
	+law('世界文化多样性宣言（节选）',
		'UNESCO Universal Declaration on Cultural Diversity (excerpt) ',
		'laws/law4')
	+law('保护和促进文化表现形式多样性公约（节选）',
		'UNESCO Convention on the Protection and Promotion of the Diversity of Cultural Expressions (excerpt) ',
		'laws/law5', true)
		