include includes/functions
+page('news')
	+article('近期新闻', 'Recently News', true)
		table.table.table-responsive
			+news-item('2014-06-01', '维汉大学生合伙网上卖切糕', 'news1')
			+news-item('', '', '')
								
