include ../includes/functions
+page('case_study')
	+article('抢救阿尔千年古羌碉','The Rescue of Thousand Years Old Qiangdiao in Aer Village',true)
		img(src='/images/case/sacred/qiangdiao_1.jpg').col-md-4.col-xs-4.thumbnail
		p 由荷兰王子基金会资助，CHP于2012年秋冬季在四川省汶川县的羌族村寨阿尔村实施了“阿尔千年古羌碉抢救”项目。
		p 羌族，真的是世界上最勇敢、最传奇的民族之一。羌族深厚的文化积淀，极大丰富了人类文化多样性，羌文化也必定能够成为区域可持续发展的重要推动力。此前，CHP在阿尔村实施了阿尔羌文化保护项目，对阿尔村有深入了解，并与村民建立起深厚情谊。阿尔村民发自内心地热爱羌族传统，自觉担纲起保护羌文化的使命，也使CHP深受感动。在阿尔村的崇山峻岭中，屹立着一座千年古羌碉。它阅尽了人间沧桑，也历经了大自然的多重磨难（包括汶川大地震），虽依然挺立着身躯，却已满是创伤危在旦夕。羌碉是羌文化的重要载体。它庇护众生繁衍生息，体现了羌人独有的能力和价值观。阿尔村民视古羌碉为祖先之象征，神灵之所在，竭尽全力地守护它，祈祷上苍保佑它平安，并急迫地希望有机会能够使它得到抢救、保护。
		p CHP在获悉荷兰王子基金会有资助抢救阿尔羌碉的意向后，开展了系列调研工作。这些调研工作的范围涉及这个羌碉的产权、管理权和使用者情况，羌碉损坏情况，抢救、保护所需材料及设备情况，还包括工期、气候及风险防控等。这些调研成果，以及CHP对羌族、阿尔村、阿尔村民、阿尔羌碉历史文化价值等的深入了解，在CHP致荷兰王子基金会的资助申请书中得到了非常具体详实的反映。感谢荷兰王子基金会朋友们的帮助！荷兰王子基金会认识到文化多样性是人类的共同遗产，阿尔千年古羌碉在保护和促进文化表现形式多样性方面发挥着不可替代的作用，同时也感动于阿尔村民的执著态度和担纲精神，决定支持阿尔村民加固和修缮古羌碉，使其延年益寿，永远庇护羌族子民。
		p 阿尔村民真的是伟大又富有智慧的，他们抢在2012年寒冬到来之前完成了这个保护工程。国际组织最为先进的保护理念和方法，在阿尔村民手里只是最本能最基本的反应。村民们完全使用原材料原工艺，最大限度地保留了古羌碉的历史信息。他们认为，古羌碉见证并保存了他们的记忆和情感，必须小心翼翼地加固和修缮，避免对碉楼有任何新的伤害。他们鄙视其它地区的一些历史建筑保护工程，认为缺乏对历史建筑的敬仰，缺乏对历史信息的珍惜，所谓的保护工程只能加剧对古建筑的破坏。
		p 令人感动的是，荷兰王子基金会的支持进一步激发了阿尔村民保护羌文化的自觉和信心。他们成立了“阿尔村民羌文化保护协会”，计划对古羌碉实施保护性监测，对羌文化开展更广泛的传承和传播工作，与其它相关机构开展合作，使阿尔村羌文化与千年古羌碉在保护和促进人类文化多样性方面发挥更大的作用。
		img(src='/images/case/sacred/qiangdiao_2.jpg').col-md-4.col-xs-4.thumbnail
		p CHP对荷兰王子基金会和阿尔村民表示敬意，对能够参与其中开展工作深感荣幸。“阿尔千年古羌碉抢救”项目结束后，周边地区又发生过损失严重的地震灾难。当我们得知阿尔羌碉毫发无损时，我们真的感到自豪。我们祝愿荷兰王子基金会为人类文化与发展作出更大贡献，祝愿阿尔村民羌文化保护协会为羌族文化的保护与发展作出不可替代的贡献。
		p Supported by the Foundation of the Prince of Holland, in 2012 CHP restored for the Qiang Minority in Aer Village the Thousand Years Old Qiangiao, which is a stone structure that is an important symbol of Qiang culture.
		img(src='/images/case/sacred/qiangdiao_3.jpg').col-md-7.col-xs-7.thumbnail
