include ../includes/_functions
+page('case_study')
	+article('从江文化绘图','Cultural Mapping of CongJiang',true)
		img(src='/images/case/documentation/congjiang_4.jpg').col-md-4.col-xs-12.thumbnail
		p 由联合国“千年发展目标基金”资助，CHP在贵州省从江县实施了“从江文化绘图”项目。
		p 2006年，联合国开发计划署与西班牙政府决定设立“千年发展目标基金”，目的是在发展中国家加速实现千年发展目标。由此，联合国各驻华机构与中国政府合作，于2008年起实施“中国文化与发展伙伴关系”项目。“文化与发展”是“千年发展目标基金”列出的八大主题之一，它的总体目标是“保护、提升文化权利与政治参与”。考虑到少数民族发展的特殊需要，“中国文化与发展伙伴关系”项目重点关注少数民族文化多样性保护及发展，并将项目地点确定在贵州的雷山、从江，云南的潞西、陇川，青海的化隆，以及西藏的林芝。“中国文化与发展伙伴关系”项目共设计了两大成果：一是通过改善公共政策和服务以加强少数民族在文化、社会经济和政治生活中的参与，二是少数民族被赋予管理文化资源的权利并得益于以文化为基础的经济发展。为实现上述成果，“中国文化与发展伙伴关系”项目共设计了七大产出。“从江文化绘图”是这些产出的组成部分，“从江文化绘图”项目的任务是“提高少数民族理解与保护文化资源（有形的和无形的）的途径和能力，增强文化多样性的民族意识”，从而“赋予少数民族管理文化资源并从以文化为基础的经济发展中受益的权利。”
		p “文化绘图”，明显是汉译的外来词汇，被理解为是一种为保护文化多样性而采用的工具或方法，目前较为受到重视或追捧。根据“文化绘图”相关学术阐释，这种工具或方法的要义有三：一是鼓励各界致力于巩固和振兴少数民族聚居区的文化身份；二是振兴世代间的合作与凝聚力；三是帮助促进知识向后代的传递，这是促进智力、精神、社会和经济可持续发展的关键因素。此外，考察“文化绘图”类项目成功与否的标准，也通常由低到高依次被分为四级：一是单向受益，仅被动接受援助与支持；二是了解项目内容，在被要求或邀请时，参加项目相关活动；三是主动提出自己的见解与意见；四是参与项目相关活动的决策过程。实际上，上述三点要义、四级标准，无非是文化多样性保护最基础性的思维方法和价值取向。“文化绘图”这个词汇，可能尚不能被理解为是成熟的科学概念。
		img(src='/images/case/documentation/congjiang_5.jpg').col-md-4.col-xs-12.thumbnail
		p CHP较早参与了“中国文化与发展伙伴关系”项目的设计讨论，也与联合国教科文组织驻京办事处合作，共同对“从江文化绘图”项目进行了勾勒和展望。之所以只是勾勒和展望，而没有制定明确具体的计划，原因是多方面的。“文化绘图”概念理解的不确定性，尤其是这个项目过于庞大复杂的背景结构，使CHP在与联合国教科文组织驻京办事处讨论“从江文化绘图”项目时无法提出具体计划。文化绘图（Cultural Mapping）,是绘文化还是绘地图？是抽象绘画还是具象绘画？当比喻性词汇非要被标准化和量化为一整套模板，喋喋不休的讨论或争论就是难以避免的。联合国各驻华机构与中国政府合作实施“中国文化与发展伙伴关系”项目，则意味着一大群肤色不同性格各异的官僚们操持着各自的语言，在不断地说、说、说，其中又太多是高谈阔论或自说自话。在如此氛围下制定出的所谓计划，多半会是不切合实际的。
		p CHP无疑是幸运的。此前许多项目的积累，加之真诚面对、平等沟通的工作习惯，CHP实施“从江文化绘图”项目应当不会出现难以逾越的障碍。CHP真正的幸运是遇到了王晓望和李江萍两位先生。在加盟CHP之前，晓望显然已经属于许多人心目中的成功人士了，晓望自己也显然希望在此基础上能够再做点什么。在对CHP的前世今生有了一番了解后，晓望与CHP有了一次相互间的“面试”。CHP能够向晓望展示的是真诚、宽广、包容，以及一以贯之的“帮助社区居民保护自己的文化遗产”，并由此提升自己的价值和品质。晓望能够向CHP展示的，除了丰富的人文情怀和社会视野，还有突出的干练、规范和持久力。综合具备这些特质的人，无疑是“从江文化绘图”项目负责人的不二人选。事实上，在整个项目持续期间，晓望与从江县5个少数民族的11个项目村的42个自然寨的无数村民成为了朋友和合作伙伴，与来自联合国、北京、贵阳、从江的无数官员和专家成为了朋友和合作伙伴。晓望能够同样认真同样诚恳地面对其中的任何一位朋友和合作伙伴，表明她发自内心的力量是巨大的。
		p 李江萍先生当时是联合国教科文组织驻华代表处文化处项目官员。与许多国际组织的中国雇员相比，江萍更像是企业里的文艺青年，或是“体制内”事业单位的业务骨干。她没有洋腔洋调，言谈举止透出她对本土的理解和负责。在“从江文化绘图”项目即将进入实施阶段的时刻，她从联合国教科文组织的角度接手此项目，并且与CHP和晓望建立起极为真诚友好的紧密关系，我们认为这些都是命运对这个项目的眷顾。我们期盼国际组织多一些这样的中国雇员，也期盼江萍来日能够对本土有更多的理解和负责。
		img(src='/images/case/documentation/congjiang_1.jpg').col-md-3.col-xs-12.thumbnail
		p 《从江档案》是“从江文化绘图”项目的产出之一，已由贵州民族出版社出版。书中展示的“文化绘图”，真是无价的艺术瑰宝；“文化日历”，则是唯有与村民情同手足方能出现的文化创举；村民自己通过文字、照片记录下的传统生活，也无疑有了更多的思考和总结。作为《从江档案》重要内容之一的“从江文化绘图操作手册”，详尽表述了项目实施的具体步骤和方法，CHP希望它能够为所有从事文化多样性工作的人们带来启发。书后附录的“从江文化绘图手记”，出自“从江文化绘图”项目负责人晓望先生的手笔。这个长长的“手记”，与其说是项目实施的工作日志，不如说是晓望个人的心路历程。CHP希望它能够为所有还想再做点什么的成功人士带来启发。
		p Supported by UN Foundation, CHP conducted a cultural mapping in Congjiang County, Guizhou province in order to increase the understanding and ability to protect cultural resources of minorities.
		img(src='/images/case/documentation/congjiang_3.jpg').col-md-4.col-xs-12.thumbnail
		img(src='/images/case/documentation/congjiang_2.jpg').col-md-4.col-xs-12.thumbnail