include ../includes/_functions
+page('news')
	+article('葛剑雄：给少数民族一点好处不是民族平等',' ',true)
		.thumbnail.pull-left.col-md-5.col-xs-12
			img(src='/images/news/140714_gejianxiong.jpg')
			.caption.text-right.small 图片源自搜狐网
		p “中国”它最早是一个政治概念，逐步也成为一个文化概念、族群的概念、地理的概念。地理的概念相当于“中原”，明清时期，从大的方面讲，“中国”就是指王朝统治的地方，但清朝往往把周边也看成是中国的，所以这个概念并不是严格的。真正成为一个比较纯粹的政治概念应该是1912年“中华民国”成立后，开始简称“中华”、“中国”，后来逐步统一以“中国”作为简称，这时候才成为一个完整的政治概念。中华人民共和国成立后延续了这一名称。
		p 以国家的名义祭祀某一个或几个民族的祖先，并称之为各民族共同的祖先，是很不妥当的。既然《宪法》规定中国各个民族是平等的，汉族可以认炎黄为本民族的祖先，却不能强制其他民族也承认，要不然你为什么不去祭祀松赞干布、成吉思汗呢？各个民族认谁为祖先，或举行祭祀都可以，但是不应该以国家的名义。这样做会伤害少数民族的感情，实际效果根本没有的。
		p 美国从来不讲一个老祖宗，大家共同的美国梦，追求自由幸福在一起，美国也不分那么多的民族，所有亚洲来的称亚裔，说西班牙语的称西裔，非洲人就是非裔，大家都是美国人。我们非要搞这些东西，不利于民族之间的融合，完全是开历史的倒车。不符合世界潮流，而且是自欺欺人，除了年复一年的空话以外，我没有看到究竟产生了什么积极的效果。如果有，不妨举几个具体的例子看看，可惜至今没有见过。
		p 我的看法是这样，作为一般民众有他的选择权，外界是不应该去干涉的。中西方有些人有种很自我的心态，他希望少数民族永远保持着一个活的博物馆供他们去观赏，供他们去研究。外国人跟我讲，他到了拉萨很伤感，全是汽车看不到牦牛。我说我到你们国家去，你们的马车在哪里？你们为什么可以开汽车，藏族人为什么不可以开汽车？藏族人以前骑马，你问问他们骑马舒服还是骑摩托车舒服？为什么澳洲牧民开着直升机放牧，我们的藏人就不可以？这些都很狭隘的。
		p 另一方面，从专家学者、国家层面上讲，为了保存历史的记忆，我们要选择一部分把它保存下来，不能保存的我们要赶快记录下来。但是不等于说因为要这样就要人家不现代化，除非他完全自愿。我80年代到西藏去，西藏原来是没有方便面，没有“方便面”这个词的，刚开始买的是康师傅方便面，藏民就称方便面为“康师傅”。无论是汉族还是少数民族的语言中都有不少外来语，有的就采用音译，不采用外来语言怎么行呢？中国汉语词汇里面多少语言是外来语？上海话里面很多都是外来语，实际是英文，这个挡不住的。反对的人看到外国人用汉语很高兴，觉得中国文化影响真大，那为什么人家不能影响你呢？所以我刚才讲一个民族它要接受什么文化要怎么样，一个地方要讲什么话这是谁都阻挡不住的。如果藏族坚持自己的民族文化，不用任何新词汇，那怎么跟你对话？比如说我坚持讲上海话，上海话很多词是原来没有的，你为什么能够接受英文就不能接受普通话呢？全世界任何语言都会受到外来影响，都是不断演变的，文化也是如此。这是民生民众自愿的选择，需要跟我们今天专家学者以及国家层面上把它分开。
		p 统一有它的范围，统一无限放大的话，那么这个统一只能是专制极权，注定要失败，而且是以牺牲个人、族群、地方正当的利益为代价的。改革开放第一是要使一种契约的方式明确权利分配，哪些是地方的，哪些是中央的，哪些是集体，哪些是个人的，同时要有真正意义上的群体之间、民族之间的平等。到现在我们还认为对少数民族应给点好处、照顾照顾，这并不是真正平等的观念。要强制人家承认是炎黄子孙，甚至研究出来什么藏人是大禹的后代，不是这么简单的，从来没有站在人家的立场上看一看。对蔡文姬歌颂她，内蒙古的人恨死，什么话啊，她把丈夫孩子都扔掉，还说是民族友好，这干什么啊？我们没有设身处地站在人家的角度想一想。
		+news-link('http://cul.sohu.com/20140707/n401909015.shtml')
		