include ../includes/functions
+page('news')
	+article('维汉大学生合伙网上卖切糕',' ',true)
		.thumbnail.pull-left.col-md-5.col-xs-12
			img(src='/images/news/news1.jpg')
			.caption.text-right.small 图片源自新浪网
		p 据新浪网
			a(href='http://slide.news.sina.com.cn/s/slide_1_2841_60799.html#p=1', target='_blank') 
				|报道
			|:
		p 湖南长沙理工大学的维吾尔族大四学生阿迪力·买买提吐热今年23岁，来自新疆喀什的他出生在一个切糕世家，他的父母靠售卖切糕养大了六个子女。大学期间懂事的阿迪力边打工边学习，希望能减轻家里的负担。
		p 2012年，“天价切糕”事件触动了正在念大三的阿迪力，看到网上的各种议论声，阿迪力决心让大家尝一尝味道正宗而又价格实惠的切糕，为家乡的美食正名。他的想法和同学蒋金亚、蒋春杨的创业冲动一拍即合，他们三人凑了3万块钱开设了一家切糕淘宝专卖店，一场切糕版的“中国合伙人”好戏开始上演。
		p 阿迪力的创业得到了家里的支持，为保障切糕的原汁原味，父母从喀什将制作原材料寄往长沙，而阿迪力和他的小伙伴们则在长沙租下一处民房作为生产间开始手工制作切糕。阿迪力继承了家人做切糕的天赋：从麦芽糖倒入大锅熬煮出浓稠的糖稀，再往锅中倒入产自新疆的核桃、杏仁、葡萄干等材料，经搅拌熬煮将混合好食材的糖稀放入槽盒，凝固、压实、冷却，一块块闪着金黄光泽的切糕就这样在阿迪力的手中新鲜出炉。
		p 2014年5月初一档热播的电视美食节目介绍了新疆切糕，阿迪力的切糕网店销量出现井喷，仅5月3日、4日两天累计销售切糕超6000单，日销售额超过10万元。销售量激增忙坏了三位切糕合伙人，他们又雇来了几位员工增加人手以保障供货。除了网络销售，目前三位合伙人正计划开设实体店，他们刚租下一处门面准备装修营业。
		p 阿迪力告诉记者，切糕在自己的家乡其实叫做玛仁糖，小时候他的父亲会牵着毛驴带着他一起赶集卖玛仁糖。阿迪力的爷爷曾告诉他，玛仁糖曾是西域商队重要的能量补给品。如今阿迪力这位“切糕小王子”希望他的切糕有一天能走上超市货架，成为消费者喜爱的能量补充型零食。

		